apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: 環境による
    server: 環境による
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
- context:
    cluster: kubernetes
    user: drogo
    namespace: development
  name: developer
current-context: developer
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4akNDQWRxZ0F3SUJBZ0lJWjd0NWhCdWFlWll3RFFZSktvWklodmNOQVFFTEJRQXdGVEVUTUJFR0ExVUUKQXhNS2EzVmlaWEp1WlhSbGN6QWVGdzB5TWpBeE1qQXdOREl4TlRCYUZ
    client-key-data: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBdkhnd1QrT2E4blpJbXorTWMvSmo5b0dIa3dZcHRDUHNCaHQzMWFMZzdmY3gxdFVHCmlEcE13SXJqcUg2M1VqVTBMdzYrcytqaDRDbWFkTlZOMjhtMVFpeEl4TmF
- name: drogo
  user:
    client-certificate: /root/drogo.crt
    client-key: /root/drogo.key
